/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* NORMAL CSS */

body {
    display: flex;
    padding-block: 4em;
    align-items: center;
    justify-content: center;
}

* {
    font-family: 'Raleway', sans-serif
}

.container {
    width: min(90%, 700px);
    display: flex;
    box-shadow: 1px 1px 15px 1px rgb(0 0 0 / 10%);
    flex-direction: column;
    padding: 35px;
}

.form-title {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    font-family: 'Poppins', arial, sans-serif;
    margin-bottom: 1em;
}

#form {
    display: flex;
    flex-direction: column;
}

.form-inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.input-container {
    display: flex;
    min-height: 32px;
    flex-direction: column;
}

.default-label {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    color: #403F3F;
    padding-inline: .3em;
}

.default-input {
    border: 1px solid #d0d0d0;
    outline: 0 none;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 4%);
    min-height: 32px;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    width: 100%;
    padding-inline: 8px;
    border-radius: 4px 0 0 4px;
}

.default-input:focus {
    outline: none;
}

.default-input::placeholder {
    color: rgba(31,41,55, .5);
    font-weight: 500;
}

.input2 {
    display: flex;
    flex-direction: column;
}

textarea {
    padding: .5em;
    border: 1px solid rgba(209,213,219);
    outline: none;
    min-height: 100px;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; ;
    border-radius: 4px;
}

.label2 {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 0px !important;
}

textarea:focus  {
    outline: none;
}

.submit-btn {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    border: none;
    color: #f3f3f3;
    width: fit-content;
    cursor: pointer;
    background-color: #304770;
    margin: 2em auto 0 auto;
    border-radius: 4px;
    padding: 12.8px 30.4px
}

.submit-btn:hover {
    background-color: #1a81b1;
    transition: .2s ease-in-out;
}

@media only screen and (width<=768px) {

    .form-title {
        text-align: center;
        font-size: 25px;
    }

    .form-inner-container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .input-container {
        flex-direction: column;
    }

    .default-label {
        width: 100%;
        text-align: start;
    }

    .submit-btn {
        width: 100%;
    }

}